@font-face {
  font-family: 'digital';
  src: url("/fonts/digital-7.mono.ttf"); }

body {
  background-color: #AD1457;
  color: #FFFFFF; }

#app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Play'; }
  #app header {
    font-size: 3rem;
    font-family: 'Kavoon'; }
    @media (max-width: 420px) {
      #app header {
        font-size: 2.4rem; } }
  #app #pomodoro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    #app #pomodoro #time-controls {
      display: flex;
      justify-content: space-between; }
      #app #pomodoro #time-controls .time-setter {
        margin: 0.5rem 1.5rem;
        font-size: 1.7rem; }
        @media (max-width: 420px) {
          #app #pomodoro #time-controls .time-setter {
            font-size: 1.2rem; } }
        #app #pomodoro #time-controls .time-setter #break-label, #app #pomodoro #time-controls .time-setter #session-label {
          margin: 0.5rem;
          text-align: center; }
        #app #pomodoro #time-controls .time-setter .setter-controls {
          text-align: center; }
          #app #pomodoro #time-controls .time-setter .setter-controls .arrow {
            margin: 0.4rem;
            color: white; }
          #app #pomodoro #time-controls .time-setter .setter-controls #break-length, #app #pomodoro #time-controls .time-setter .setter-controls #session-break {
            font-size: 1.8rem; }
    #app #pomodoro #display {
      border: 6px solid #C2185B;
      border-radius: 3rem;
      padding: 2rem;
      text-align: center;
      margin-top: 0.3rem; }
      #app #pomodoro #display #timer-label {
        font-size: 2rem; }
      #app #pomodoro #display #time-left {
        font-size: 5rem;
        margin-bottom: 1.5rem;
        margin-right: 1rem;
        margin-left: 1rem;
        font-family: 'digital'; }
    #app #pomodoro #pomodoro-controls {
      margin: 1rem; }
      #app #pomodoro #pomodoro-controls i {
        font-size: 1.5rem;
        margin: 0rem   0.5rem; }
        #app #pomodoro #pomodoro-controls i:hover {
          cursor: pointer; }
  #app footer {
    text-align: center;
    color: #FCE4EC; }
    #app footer i {
      color: #FFCDD2; }
    #app footer a {
      text-decoration: none;
      color: #FCE4EC; }
